@model IEnumerable<ProjektCona1.Models.Podatki>
@{
    ViewBag.Title = "PostajaLive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 id="podatki">Postaja @ViewData["id"] ~ <i style="color:red">LIVE</i></h2>

    <div id="live">
        @Html.Partial("_podatki", Model, new ViewDataDictionary { { "id", ViewData["id"] } })
    </div>
</div>

<script>
    $(function () {
        setInterval(function () { $('#live').load('/Podatki/_PostajaLive') }, 10000);
    });
</script>
