body {
    padding-top: 100px;
    height: 100vh;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(27, 60, 139,0.9); /* BlueDark */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-top: 80px;
}

    /* The navigation menu links */
    .sidenav a {
        padding: 10px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        display: block;
        color: white;
        
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: Highlight;
        }


    .sidenav .collapse a {
        font-size: 16px;
    }

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.navbtnstil1 {
    border: none;
    padding-top: 4px;
    background-color: #1B3C8B;
    color: white;
    height: 80px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}

    .navbtnstil1:hover {
        color: Highlight;
    }
    .navbtnstil1:focus {
        outline:0;
        color: Highlight;
    }


#conalogo {
    margin-top: 10px;
    margin-bottom: 10px;
}

    #conalogo:hover {
        box-shadow: 0 0 5px 5px rgba(255,255,255,0.5);
    }

#alogo {
    color:transparent;
    outline:0;
}


.levo {
    padding-left: 0;
}

.btnmoj {
    background-color: #1B3C8B;
    border:0;
}

    .btnmoj:hover {
        background-color: #98C222;
    }
    .btnmoj:focus {
        background-color: #98C222;
    }
        .jezik:hover {
    box-shadow: 0 0 5px 5px rgba(255,255,255,0.5);
}

@media screen and (max-height: 450px) {
    body {
        padding-top: 60px;
    }

    .sidenav {
        padding-top: 20px;
        margin-top: 40px;
    }

        .sidenav a {
            font-size: 18px;
        }

        .sidenav .collapse a {
            font-size: 14px;
        }


    #conalogo {
        margin-top: 2px;
        margin-bottom: 2px;
        height: 50px;
    }

        #conalogo:hover {
            box-shadow: 0 0 2px 2px rgba(255,255,255,0.5);
        }

    .navbtnstil1 {
        height: 35px;
    }

    #zgoraj {
        min-height: 40px;
    }

    .navbar-nav > li {
        padding-top: 10px;
        padding-bottom:10px;
    }
    .navbar-nav > li > a {
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 30px;
    }
   
    .navbar-header {
        margin-left: -15px;
        margin-right: -15px;
    }
   
}


@media (max-width: 768px) {

    body {
        padding-top: 60px;
    }

    .sidenav {
        margin-top: 40px;
        padding-top: 20px;
        margin-top: 40px;
        
    }

        .sidenav a {
            font-size: 18px;
            padding:10px 0px 6px 18px;
        }

        .sidenav .collapse a {
            font-size: 14px;
        }

      

    #conalogo {
        margin-top: 2px;
        margin-bottom: 2px;
        height: 50px;
    }
        #conalogo:hover {
            box-shadow: 0 0 2px 2px rgba(255,255,255,0.5);
        }

    .navbtnstil1 {
        height: 35px;
    }

    #zgoraj {
        min-height: 40px;
    }

}


@media (max-width: 350px) {

    .navbtnstil1 {
        margin-top: 8px;
        margin-right: 12px;
        margin-bottom: 8px;
        height: auto;
    }
}

    /*#region ARSO */

#oblacnost {
    height: 100px;
    width: 100px;
    background-size: cover;
    position: relative;
    margin-bottom: 10px;
}

#pojavi {
    height: 45px;
    width: 45px;
    position: absolute;
    right: 15px;
    bottom: 0;
    background-size: cover;
}

/*day, night*/
/*clear, mostClear, slightCloudy, partCloudy, modCloudy, prevCloudy, overcast, FG*/

/*#region Oblačnost */

.dayclear {
    background-image: url('../../Slike/clear.png')
}

.daymostClear {
    background-image: url('../../Slike/mostlysunny.png')
}

.dayslightCloudy {
    background-image: url('../../Slike/mostlysunny.png')
}

.daypartCloudy {
    background-image: url('../../Slike/partlycloudy.png')
}

.daymodCloud {
    background-image: url('../../Slike/partlysunny.png')
}

.dayprevCloudy {
    background-image: url('../../Slike/cloudy.png')
}

.dayovercast {
    background-image: url('../../Slike/cloudy.png')
}

.dayFG {
    background-image: url('../../Slike/fog.png')
}

.nightclear {
    background-image: url('../../Slike/clearnight.png')
}

.nightmostClear {
    background-image: url('../../Slike/clearnight.png')
}

.nightslightCloudy {
    background-image: url('../../Slike/partlycloudynight.png')
}

.nightpartCloudy {
    background-image: url('../../Slike/partlycloundynight.png')
}

.nightmodCloud {
    background-image: url('../../Slike/cloudynight.png')
}

.nightprevCloudy {
    background-image: url('../../Slike/cloudynight.png')
}

.nightovercast {
    background-image: url('../../Slike/cloudy.png')
}

.nightFG {
    background-image: url('../../Slike/fog.png')
}

/*#endregion */

/*FG lightFG modFG heavyFG DZ lightDZ modDZ heavyDZ FZDZ lightFZDZ modFZDZ heavyFZDZ RA lightRA modRA heavyRA FZRA lightFZRA modFZRA heavyFZRA 
    RASN lightRASN modRASN heavyRASN SN lightSN modSN heavySN SHRA lightSHRA modSHRA heavySHRA SHRASN lightSHRASN modSHRASN heavySHRASN 
    SHSN lightSHSN modSHSN heavySHSN SHGR lightSHGR modSHGR heavySHGR TS lightTS modTS heavyTS TSRA lightTSRA modTSRA heavyTSRA 
    TSRASN lightTSRASN modTSRASN heavyTSRASN TSSN lightTSSN modTSSN heavyTSSN TSGR lightTSGR modTSGR heavyTSGR*/

/*#region Pojavi */

[class*="DZ"] {
    background-image: url('../Slike/rain03.png');
}

[class*="TS"] {
    background-image: url('../Slike/thunder.png');
}

[class*="RA"] {
    background-image: url('../Slike/rain03.png');
}

[class*="SN"] {
    background-image: url('../Slike/snow.png');
}

[class*="FZ"] {
    background-image: url('../Slike/freezingrain.png');
}

[class*="RASN"] {
    background-image: url('../Slike/rain.png') url('../Slike/snow.png');
}

[class*="SHGR"] {
    background-image: url('../Slike/rain03.png');
}

/*#endregion */

    /*#endregion*/